.page-header1 {
  font-size: 2em;
}

blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

code {
font-size: 90%;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    /* max-width: 800px; */
    max-width: 100%;
    margin: auto;
}

h3 {
    color: black;
    font-weight: 600; 
    font-size: 125%;
}

h4, h5, h6 {
    color: #998;
    font-weight: 600;
    font-size: 110%;
}

.rst-content img {
    max-width: 75%;
    height: auto !important;
}