<?xml version="1.0"?>
<ROWSET>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>index_</ROUTE_NAME>
  <PRIORITY>1</PRIORITY>
  <URL_PATTERN>NULL</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.index_</CONTROLLER_METHOD>
  <DESCRIPTION>Index</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>OSM</CREATED_BY>
  <CREATED_DATE>2015-03-12T06:52:42</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>index</ROUTE_NAME>
  <PRIORITY>2</PRIORITY>
  <URL_PATTERN>index</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.index_</CONTROLLER_METHOD>
  <DESCRIPTION>Index</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>OSM</CREATED_BY>
  <CREATED_DATE>2015-03-12T06:52:42</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>401</ROUTE_NAME>
  <PRIORITY>3</PRIORITY>
  <URL_PATTERN>(401)</URL_PATTERN>
  <VIEW_NAME>\1</VIEW_NAME>
  <DESCRIPTION>401 UnAuth</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-03-16T12:22:26</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>home</ROUTE_NAME>
  <PRIORITY>4</PRIORITY>
  <URL_PATTERN>home</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.index_</CONTROLLER_METHOD>
  <DESCRIPTION>Home or index page</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-03-16T12:22:26</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>login</ROUTE_NAME>
  <PRIORITY>5</PRIORITY>
  <URL_PATTERN>login</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.login</CONTROLLER_METHOD>
  <DESCRIPTION>Login page</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-03-16T12:22:26</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>logout</ROUTE_NAME>
  <PRIORITY>6</PRIORITY>
  <URL_PATTERN>(logout)</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.logout</CONTROLLER_METHOD>
  <DESCRIPTION>401 UnAuth</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-03-16T12:22:26</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>dashboard</ROUTE_NAME>
  <PRIORITY>7</PRIORITY>
  <URL_PATTERN>dashboard</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.index_</CONTROLLER_METHOD>
  <DESCRIPTION>Web Index</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-03-16T12:22:26</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>download</ROUTE_NAME>
  <PRIORITY>8</PRIORITY>
  <URL_PATTERN>download</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.download</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>get_log</ROUTE_NAME>
  <PRIORITY>9</PRIORITY>
  <URL_PATTERN>get_log</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.get_log</CONTROLLER_METHOD>
  <DESCRIPTION>Test XML response</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>OSM</CREATED_BY>
  <CREATED_DATE>2015-04-10T16:03:25</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>logs_get_log</ROUTE_NAME>
  <PRIORITY>10</PRIORITY>
  <URL_PATTERN>logs/get-log</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.logs_get_log</CONTROLLER_METHOD>
  <DESCRIPTION>Get log text from logid passed</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-06T12:01:26</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>logs_delete</ROUTE_NAME>
  <PRIORITY>11</PRIORITY>
  <URL_PATTERN>logs/delete</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.logs_delete</CONTROLLER_METHOD>
  <DESCRIPTION>Delete selected rows</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-09-30T13:51:50</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>logs_search</ROUTE_NAME>
  <PRIORITY>12</PRIORITY>
  <URL_PATTERN>logs/search</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.logs_search</CONTROLLER_METHOD>
  <DESCRIPTION>Search filter, define session variables</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-09-28T16:48:22</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>logs_get_list</ROUTE_NAME>
  <PRIORITY>13</PRIORITY>
  <URL_PATTERN>logs/get_list</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.logs_get_list</CONTROLLER_METHOD>
  <DESCRIPTION>Get Json array of logs</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-08-14T15:11:02</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>logs</ROUTE_NAME>
  <PRIORITY>14</PRIORITY>
  <URL_PATTERN>logs</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.logs</CONTROLLER_METHOD>
  <DESCRIPTION>Dbax logs</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-12T16:00:58</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>reqvalidation_edit</ROUTE_NAME>
  <PRIORITY>15</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/reqvalidation/edit/([[:print:]]+)</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.edit_reqvalidation/\1/\2</CONTROLLER_METHOD>
  <DESCRIPTION>Request Validation - Edit</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-11T16:24:23</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>reqvalidation_delete</ROUTE_NAME>
  <PRIORITY>16</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/reqvalidation/delete</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.delete_reqvalidation/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Delete reqvalidation Function</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-12T09:26:48</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>new_reqvalidation</ROUTE_NAME>
  <PRIORITY>17</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/reqvalidation/new</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.new_reqvalidation/\1</CONTROLLER_METHOD>
  <DESCRIPTION>New Request Validation Function</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-11T17:17:07</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>reqvalidation_upsert</ROUTE_NAME>
  <PRIORITY>18</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/reqvalidation/upsert</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.upsert_reqvalidation/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Ajax Insert or Update Reqvalidation</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-11T17:01:03</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>reqvalidation_export</ROUTE_NAME>
  <PRIORITY>19</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/reqvalidation/export</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.export_reqvalidation(p_appid =&gt; &apos;\1&apos;)</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-26T16:50:37</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>reqvalidation_import</ROUTE_NAME>
  <PRIORITY>20</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/reqvalidation/import</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.import_reqvalidation(p_appid =&gt; &apos;\1&apos;)	</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-26T16:52:53</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>reqvalidation</ROUTE_NAME>
  <PRIORITY>21</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/reqvalidation</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.reqvalidation/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Application Request Validation Functions</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-11T16:21:49</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>routes_edit</ROUTE_NAME>
  <PRIORITY>22</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/routes/edit/([[:print:]]+)</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.edit_route/\1/\2</CONTROLLER_METHOD>
  <DESCRIPTION>Editar Ruta</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>routes_test</ROUTE_NAME>
  <PRIORITY>23</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/routes/test</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.test_route/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Ajax test Route</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-04T16:39:54</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>routes_upsert</ROUTE_NAME>
  <PRIORITY>24</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/routes/upsert</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.upsert_route/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Ajax Insert or Update Route</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>routes_delete</ROUTE_NAME>
  <PRIORITY>25</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/routes/delete</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.delete_route/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Administrar aplicaciones</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>routes_new</ROUTE_NAME>
  <PRIORITY>26</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/routes/new</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.new_route/\1</CONTROLLER_METHOD>
  <DESCRIPTION>New Route </DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>routes_save_order</ROUTE_NAME>
  <PRIORITY>27</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/routes/save-order</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.save_routes_order/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Administrar aplicaciones</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>routes_export</ROUTE_NAME>
  <PRIORITY>28</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/routes/export</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.export_routes(p_appid =&gt; &apos;\1&apos;)</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-26T16:22:38</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>routes_import</ROUTE_NAME>
  <PRIORITY>29</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/routes/import</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.import_routes(p_appid =&gt; &apos;\1&apos;)</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-26T16:23:36</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>routes</ROUTE_NAME>
  <PRIORITY>30</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/routes</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.routes/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Routes Table</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-03-16T12:22:26</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>views_edit</ROUTE_NAME>
  <PRIORITY>31</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/views/edit/([[:print:]]+)</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.edit_view/\1/\2</CONTROLLER_METHOD>
  <DESCRIPTION>Edit View</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-05T15:21:25</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>views_save_source</ROUTE_NAME>
  <PRIORITY>32</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/views/save-source</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.save_source_view/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Save Source View</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-06T15:08:09</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>views_get_source</ROUTE_NAME>
  <PRIORITY>33</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/views/get-source</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.get_source_view/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Get via ajax the source code of the view</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-08-05T17:06:14</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>views_upsert</ROUTE_NAME>
  <PRIORITY>34</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/views/upsert</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.upsert_view/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Insert or Update View</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-05T15:17:27</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>views_delete</ROUTE_NAME>
  <PRIORITY>35</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/views/delete</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.delete_view/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Delete Views</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-05T15:16:25</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>views_new</ROUTE_NAME>
  <PRIORITY>36</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/views/new</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.new_view/\1</CONTROLLER_METHOD>
  <DESCRIPTION>New View</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-05T14:33:12</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>views_import</ROUTE_NAME>
  <PRIORITY>37</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/views/import</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.import_view/\1</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-14T15:00:44</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>views_upload</ROUTE_NAME>
  <PRIORITY>38</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/views/upload</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.upload_view/\1</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-14T15:12:05</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>views_export</ROUTE_NAME>
  <PRIORITY>39</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/views/export</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.export_view/\1</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-14T16:58:45</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>views_export_all</ROUTE_NAME>
  <PRIORITY>40</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/views/export-all</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.export_all_view/\1</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-14T16:15:03</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>views</ROUTE_NAME>
  <PRIORITY>41</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/views</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.views_/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Views Table</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>DBAX</CREATED_BY>
  <CREATED_DATE>2015-08-05T14:35:20</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>properties_edit</ROUTE_NAME>
  <PRIORITY>42</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/properties/edit/([[:print:]]+)</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.edit_propertie/\1/\2</CONTROLLER_METHOD>
  <DESCRIPTION>Administrar aplicaciones</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>properties_upsert</ROUTE_NAME>
  <PRIORITY>43</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/properties/upsert</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.upsert_propertie/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Administrar aplicaciones</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>properties_new</ROUTE_NAME>
  <PRIORITY>44</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/properties/new</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.new_propertie/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Administrar aplicaciones</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>properties_delete</ROUTE_NAME>
  <PRIORITY>45</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/properties/delete</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.delete_propertie/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Administrar aplicaciones</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>properties_import</ROUTE_NAME>
  <PRIORITY>46</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/properties/import</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.import_properties(p_appid =&gt; &apos;\1&apos;)</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-26T15:23:04</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>properties_export</ROUTE_NAME>
  <PRIORITY>47</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/properties/export</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.export_properties(p_appid =&gt; &apos;\1&apos;)</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-26T14:27:10</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>properties</ROUTE_NAME>
  <PRIORITY>48</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/properties</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.properties/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Application Properties</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>roles_delete</ROUTE_NAME>
  <PRIORITY>49</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/roles/delete</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.delete_role/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Delete Roles</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-19T17:23:44</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>roles_edit</ROUTE_NAME>
  <PRIORITY>50</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/roles/edit/([[:print:]]+)</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.edit_role/\1/\2</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-19T17:09:20</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>roles_upsert</ROUTE_NAME>
  <PRIORITY>51</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/roles/upsert</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.upsert_role/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Roles upsert</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-19T16:16:10</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>roles_new</ROUTE_NAME>
  <PRIORITY>52</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/roles/new</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.new_role/\1</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-19T16:27:20</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>roles_pmsns_upsert</ROUTE_NAME>
  <PRIORITY>53</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/roles/roles-pmsns</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.upsert_roles_permissions/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Assign permissions to roles</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-24T12:45:42</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>roles_users_upsert</ROUTE_NAME>
  <PRIORITY>54</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/roles/roles-users</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.upsert_roles_users/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Assign roles to users</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-23T16:02:15</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>pmsn_delete</ROUTE_NAME>
  <PRIORITY>55</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/pmsn/delete</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.delete_pmsn/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Delete Permissions</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-30T15:14:57</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>pmsn_edit</ROUTE_NAME>
  <PRIORITY>56</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/pmsn/edit/([[:print:]]+)</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.edit_pmsn/\1/\2</CONTROLLER_METHOD>
  <DESCRIPTION>Edit Permission</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-30T15:14:18</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>pmsn_upsert</ROUTE_NAME>
  <PRIORITY>57</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/pmsn/upsert</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.upsert_pmsn/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Upsert Permission</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-30T15:13:32</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>pmsn_new</ROUTE_NAME>
  <PRIORITY>58</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/pmsn/new</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.new_pmsn/\1</CONTROLLER_METHOD>
  <DESCRIPTION>New Permission</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-30T15:09:26</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>security_export</ROUTE_NAME>
  <PRIORITY>59</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/security/export</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.export_security(p_appid=&gt;&apos;\1&apos;)</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-26T20:50:43</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>import_security</ROUTE_NAME>
  <PRIORITY>60</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)/security/import</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.import_security(p_appid=&gt;&apos;\1&apos;)</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-26T20:51:24</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>applications_edit</ROUTE_NAME>
  <PRIORITY>61</PRIORITY>
  <URL_PATTERN>applications/edit/([[:print:]]+)</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.edit_app/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Administrar aplicaciones</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>applications_delete</ROUTE_NAME>
  <PRIORITY>62</PRIORITY>
  <URL_PATTERN>applications/delete</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.delete_app/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Administrar aplicaciones</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>applications_new</ROUTE_NAME>
  <PRIORITY>63</PRIORITY>
  <URL_PATTERN>applications/new</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.new_app</CONTROLLER_METHOD>
  <DESCRIPTION>Administrar aplicaciones</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>applications_upsert</ROUTE_NAME>
  <PRIORITY>64</PRIORITY>
  <URL_PATTERN>applications/upsert</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.upsert_app</CONTROLLER_METHOD>
  <DESCRIPTION>Administrar aplicaciones</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>applications_import</ROUTE_NAME>
  <PRIORITY>65</PRIORITY>
  <URL_PATTERN>applications/import</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.import_app</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-22T17:22:02</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>applications_export</ROUTE_NAME>
  <PRIORITY>66</PRIORITY>
  <URL_PATTERN>applications/export</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.export_app</CONTROLLER_METHOD>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2016-04-25T16:38:34</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>applications</ROUTE_NAME>
  <PRIORITY>67</PRIORITY>
  <URL_PATTERN>applications</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.applications</CONTROLLER_METHOD>
  <DESCRIPTION>Administrar aplicaciones</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-04-29T10:30:19</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>users_new</ROUTE_NAME>
  <PRIORITY>68</PRIORITY>
  <URL_PATTERN>users/new</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.new_user</CONTROLLER_METHOD>
  <DESCRIPTION>New User </DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-26T17:32:49</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>users_delete</ROUTE_NAME>
  <PRIORITY>69</PRIORITY>
  <URL_PATTERN>users/delete</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.delete_users</CONTROLLER_METHOD>
  <DESCRIPTION>Delete users</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-26T16:51:23</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>user_layout_options</ROUTE_NAME>
  <PRIORITY>70</PRIORITY>
  <URL_PATTERN>users/([[:print:]]+)/layout-options</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.user_layout_options/\1</CONTROLLER_METHOD>
  <DESCRIPTION>User Layout Options</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-27T16:37:26</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>user_update</ROUTE_NAME>
  <PRIORITY>71</PRIORITY>
  <URL_PATTERN>users/([[:print:]]+)/update</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.update_user/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Update user settings</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-26T15:37:16</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>user_change_password</ROUTE_NAME>
  <PRIORITY>72</PRIORITY>
  <URL_PATTERN>users/([[:print:]]+)/change-password</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.change_user_password/\1</CONTROLLER_METHOD>
  <DESCRIPTION>Change User password</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-26T16:13:44</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>user_profile</ROUTE_NAME>
  <PRIORITY>73</PRIORITY>
  <URL_PATTERN>users/([[:print:]]+)</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.user_profile/\1</CONTROLLER_METHOD>
  <DESCRIPTION>User profile</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-24T14:55:47</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
 <ROW>
  <APPID>CONSOLE</APPID>
  <ROUTE_NAME>users</ROUTE_NAME>
  <PRIORITY>74</PRIORITY>
  <URL_PATTERN>users</URL_PATTERN>
  <CONTROLLER_METHOD>pk_c_dbax_console.users</CONTROLLER_METHOD>
  <DESCRIPTION>User accounts</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <CREATED_BY>ANONYMOUS</CREATED_BY>
  <CREATED_DATE>2015-11-17T14:20:41</CREATED_DATE>
  <MODIFIED_BY>ANONYMOUS</MODIFIED_BY>
  <MODIFIED_DATE>2016-04-26T20:52:05</MODIFIED_DATE>
 </ROW>
</ROWSET>
