<?xml version="1.0"?>
<ROWSET>
 <ROW>
  <APPID>CONSOLE</APPID>
  <NAME>DBAX Admin Console</NAME>
  <DESCRIPTION>DBAX Administration Console</DESCRIPTION>
  <ACTIVE>Y</ACTIVE>
  <ACCESS_CONTROL>PRIVATE</ACCESS_CONTROL>
  <CREATED_BY>-1</CREATED_BY>
  <CREATED_DATE>2015-11-23T10:33:34</CREATED_DATE>
  <MODIFIED_BY>ADMIN</MODIFIED_BY>
  <MODIFIED_DATE>2016-02-01T16:09:48</MODIFIED_DATE>
 </ROW>
</ROWSET>
