<?dbax  
    dbax_core.g$var('active_menu') := 'Monitor-Logs';
    dbax_core.g$var('page_head') := '        

    <!-- SweetAlert 2-->     
    <link href="${resources_url}/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" type="text/css" />

    <!-- DateTimePicker -->
    <link href="${resources_url}/plugins/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">        
    <!-- DATA TABLES -->
    <link href="${resources_url}/plugins/datatables/datatables-1.10.9/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="${resources_url}/plugins/datatables/responsive-1.0.7/css/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.css" type="text/css">
    
    <style type="text/css">
        th, td { white-space: nowrap; }
        pre {
            overflow-x: auto;            
            overflow-wrap: normal;
            white-space: pre;
        }
      .modal-dialog,
      .modal-content {
          /* 95% of window height */
          height: 95%;
          width: 85%;
      }
      .modal-body {
          /* 100% = dialog height, 120px = header + footer */
          max-height: calc(100% - 120px);
          overflow-y: scroll;          
      }
    </style>        

    ';
?>!\n
<?dbax dbax_core.include('header'); ?>

<!-- SideBar -->
<?dbax dbax_core.include('sidebar');?> 

   
 <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Logs
            <small>for dbax applications</small>
          </h1>
          <ol class="breadcrumb">
             <li><a href="${base_path}/index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="${base_path}/logs"><i class="fa fa-file-text-o"></i> ${title}</a></li>            
          </ol> 
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Search Filters</h3>
                      <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">                                     

                  <!-- form start -->
                      <form name="filterLogForm" id="filterLogForm" action="${base_path}/logs/search" class="form-horizontal" method="POST">                        
                         
                        <div class="col-md-4">
                            <label for="log_id" class="control-label">Log ID</label>                            
                             <input type="number" class="form-control" name="log_id" id="log_id">
                        </div>
                        
                        <div class="col-md-4">  
                            <label for="appid" class="control-label">Appid</label>
                            <!--<input type="text" class="form-control" >-->
                              <select class="form-control" name="appid" id="appid">
                              <option></option>
                              <?dbax
                                  FOR c1 IN ( SELECT    appid
                                              FROM       table (tapi_wdx_applications.tt)
                                              ORDER BY  appid)
                                  LOOP                                                                         
                                      p('<option>'|| c1.appid ||'</option>');                                          
                                  END LOOP;
                              ?>        
                            </select>
                         </div>
                        
                        <div class="col-md-4">  
                            <label for="user_name" class="control-label">User Name</label>
                             <input type="text" class="form-control" name="user_name" id="user_name">
                        </div>                        
                        
                        <div class="col-md-4">
                              <label for="dbax_session" class="control-label">Session ID</label>
                              <input type="text" class="form-control" name="dbax_session" id="dbax_session">
                        </div>  
                        
                         <div class="col-md-4">  
                          <div class="input-append date form_datetime">  
                              <label for="date_from" class="control-label">Date From</label>
                            <input type="text" class="form-control" name="date_from" id="date_from" value="${date_from}">
                            <span class="add-on"><i class="icon-th"></i></span>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="input-append date form_datetime">
                            <label for="date_from" class="control-label">Date To</label>
                            <input type="text" class="form-control" name="date_to" id="date_to"  value="${date_to}">
                            <span class="add-on"><i class="icon-th"></i></span>
                          </div>
                        </div>
                        
                        <div class="col-md-12">  
                            <label for="log_text" class="control-label">Log Text</label>                             
                             <textarea class="form-control" id="log_text" name="log_text"  style="width: 100%; "></textarea>
                               <p class="help-block">Log Text use <a href="http://docs.oracle.com/cd/B28359_01/text.111/b28304/cqoper.htm">Oracle Text CONTAINS Query Operators</a>. So remember to escape <a href="http://docs.oracle.com/cd/B28359_01/text.111/b28304/cqspcl.htm">Special Characters in Oracle Text</a></p>
                        </div>                        
                      </form>
                  </div><!-- /.box-body -->
                  
                <div class="box-footer">                  
                  <button id="searchBtn" class="btn btn-info" type="submit" onclick="SubmitForm('filterLogForm')"><i class="fa fa-search"></i> Search</button>
                  <button class="btn btn-warning pull-right" onclick="$('#filterLogForm')[0].reset(); SubmitForm('filterLogForm')"><i class="fa fa-times "></i> Reset</button>
                </div><!-- /.box-footer -->                  
            </div> <!-- /.box -->

          
          <div class="box">
                <div class="box-header with-border">                  
                  <div class="btn-toolbar pull-left" role="toolbar">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary bg-olive dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-download"></i> Download
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">                                                    
                          <li><a href="${base_path}/logs/get_list/xlsx"><i class="fa fa-file-excel-o"></i>Excel</a></li>
                          <li><a href="${base_path}/logs/get_list/csv"><i class="fa fa-file-archive-o"></i>CSV</a></li>
                        </ul>                    
                    </div>
                    </div>
                  <div class="btn-toolbar pull-right" role="toolbar">
                    <button type="button" class="btn btn-default" onclick="Delete(selected,'${base_path}/logs/delete')">Delete</button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body" style="display: block;">
                  
                  
                  <div id="dataDiv">
                      <!--<table id="logTable" class="table table-bordered table-hover">-->
                      <table id="logTable" class="table table-striped table-bordered table-hover dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>                          
                          <th><input name="select_all" value="1" type="checkbox"></th>
                          <th>Log Id</th>
                          <th>Appid</th>                          
                          <th>Date</th>
                          <th>Session Id</th>                          
                          <th>Username</th>
                          <th>Log Text</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th></th>
                          <th>Log Id</th>
                          <th>Appid</th>                          
                          <th>Date</th>
                          <th>Session Id</th>                          
                          <th>Username</th>
                          <th>Log Text</th>
                        </tr>
                      </tfoot>                      
                    </table>
                  </div> <!-- /.dataDiv -->
                  
                  
                </div><!-- /.box-body -->
            </div> <!-- /.box -->
          
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->


     <!-- Modal Info-->
    <div class="modal fade" id="modalLogText" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Log Text</h4>
          </div>
          <div class="modal-body">                        
               <pre class="prettyprint">
                <div id="logText"></div>
            </pre>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closeImp">Ok</button>            
          </div>
        </div>
      </div>
    </div>

   
    <?dbax dbax_core.include('footer'); ?>
    
    <!-- DateTimePicker -->    
    <script type="text/javascript" src="${resources_url}/plugins/datetimepicker/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    
    <!-- DATA TABLES SCRIPT -->
    <script language="javascript" src="${resources_url}/plugins/datatables/datatables-1.10.9/js/jquery.dataTables.js" type="text/javascript"></script>
    <script language="javascript" src="${resources_url}/plugins/datatables/datatables-1.10.9/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script language="javascript" src="${resources_url}/plugins/datatables/datatables-1.10.9/js/dbax.dataTables.js" type="text/javascript"></script>
    <script language="javascript" src="${resources_url}/plugins/datatables/responsive-1.0.7/js/dataTables.responsive.js" type="text/javascript"></script>

    <!-- SweetAlert 2 -->
    <script src="${resources_url}/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <!-- Google Prettyprint-->        
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script>



  <script type="text/javascript">
    $(document).ready( function() {
        //Event handler for Enter Key on SearchForm
        $('#filterLogForm').on('keyup', 'input', function(e) {
            if (e.which == 13) { // enter key            
                SubmitForm('filterLogForm');
            }
        });
    });
    
   $(".form_datetime").datetimepicker({
       format: "yyyy/mm/dd hh:ii:ss",
       autoclose: true,
       todayBtn: true,
       weekStart: 1,
       todayHighlight: true
   });

   //Array for selectd rows
   var selected = [];
    
   //DataTable    
   function initLogTable() {
      //init selected array 
      selected = [];
      //Init datatable
      logTable = $('#logTable').DataTable({                    
                     "processing": true,
                     "serverSide": true,
                     "ajax": {
                          "url": "${base_path}/logs/get_list",
                          "type": "POST"
                     },                     
                     "searching": false,
                     "order": [1, 'desc'],
                     "columnDefs": [{
                         'targets': 0,
                            'data': null, 
                         'searchable':false,
                         'orderable':false,                         
                         'render': function (data, type, full, meta){
                             return '<input type="checkbox">';
                             }
                         },
                         {
                          'targets': 6,
                          'data': null,
                          'searchable': false,
                          'orderable': false,
                          'render': function (data, type, full, meta){
                             return '<button class="btn btn-info btn-xs" onclick="getLog('+data.ID+')"><i class="fa fa-search"></i> View</button>';
                           }                          
                        }  
                     ],        
                     "columns": [                             
                             null,      
                          { "data": "ID" },
                          { "data": "APPID" },
                             { "data": "CREATED_DATE" },   
                          { "data": "DBAX_SESSION" },                          
                          { "data": "LOG_USER" },
                             null                          
                      ],
                     "rowCallback": function( row, data ) {                               
                               if ( $.inArray(data.DT_RowId, selected) !== -1 ) {                                
                                $(row).find('td input:checkbox').prop("checked", true);                              
                            }                               
                      } 
                  });          
      
      /**
      * DBAX checkbox row selction
      *    @param   tableId   the tableID
      *    @param   dataTable   the datatable object
      *    @param   selectAllName   the name of the input checkbox in the table header
      *    @param   selectedArr   the name of the array of selected checboxes
      */      
      checkboxRowSelection('logTable',logTable,'select_all',selected);
      inputTextKeyMap('logTable');
     } 
    
    //Iinit Datatable
    initLogTable();

    //Submit Ajax Form
     function SubmitForm(formId){
            var form =  $('#' + formId);
              $.post( $(form).attr('action'), $(form).serialize())
                .done(function() {                    
                      //reload datatable
                      logTable.destroy();
                      initLogTable();
              });     
        }  
    
    //GetLog Ajax get
    function getLog(logId){
        $.post("${base_path}/logs/get-log/"+logId, function( data ) {                                            
            //Pretiffy log
            $('#logText').html(PR.prettyPrintOne(data,'bash',0));
        });             
          //Modal Show
        $('#modalLogText').modal('show');
    }    
        
//Delete checked Items, Post Ajax and reload datatable
function Delete(tableId, postURL){
   //Get selected Data
   var postData = tableId;
  
    if (postData.length === 0)
    {
        swal({  title: "No items are selected"
              , text: "You must select at least one item"
              , type: "warning"});
    }else{

        //User confirmation
        swal({   title: 'Are you sure?',
                 text: 'Are you sure you want to delete '+ postData.length +' items?',
                 type: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Yes',
                 closeOnConfirm: false }
                 , function() {
                        //Ajax Request to delete items
                        $.ajax(
                        {
                            url : postURL,
                            type: "POST",
                            data : {data: encodeURIComponent(postData)}, //Data is encoded
                            success:function(data, textStatus, jqXHR) 
                            {
                                //Sweet Alert
                                swal({  title: "Successfully deleted", text: data.text, type: "success"}
                                        , function(){
                                            //reload datatable
                                              logTable.destroy();
                                              initLogTable();
                                        });
                                //reload datatable
                                  logTable.destroy();
                                  initLogTable();
                            },
                            error: function(jqXHR, textStatus, errorThrown) 
                            {   
                                swal({  title: "Error deleting items" 
                                       ,html: "There is a problem deleting your data, please try again later or contact with the Adminstrator." + '<br/><br/><pre><code class="prettyprint">' + jqXHR.responseText + '</code></pre>' 
                                       ,type: "error"
                                     });                                    
                            }
                        });                            
            });            
     } //end if
    
}
    
    
   </script>

    </body>
</HTML>