<?dbax  
    dbax_core.g$var('active_menu') := 'Applications';
    dbax_core.g$var('page_head') := '
    <!-- SweetAlert 2-->     
    <link href="${resources_url}/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" type="text/css" />
      <!-- iCheck for checkboxes and radio inputs -->
      <link rel="stylesheet" href="${resources_url}/plugins/iCheck/all.css">        
    ';
?>!\n
<?dbax dbax_core.include('header'); ?>

<!-- SideBar -->
<?dbax dbax_core.include('sidebar');?> 

   
 <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <i class="fa fa-rocket"></i> New ${app_type_desc}
          </h1>
          <ol class="breadcrumb">
             <li><a href="${base_path}/index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="${base_path}/applications"><i class="fa fa-rocket"></i> Applications</a></li>
            <li>New</li>
          </ol> 
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-solid box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">New ${app_type_desc}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">                    
                    
                  <!-- form start -->
                  <form name="userNewForm" id="appNewForm" action="${base_path}/applications/new" class="form-horizontal" method="POST">                        

                    <div class="form-group">
                      <label for="new_appid" class="col-sm-2 control-label">*Appid</label>
                      <div class="col-sm-10">
                        <div class="input-group">
                               <input type="text" class="form-control" name="new_appid" id="new_appid" required>
                            <div class="input-group-addon"><i class="fa fa-rocket"></i></div>
                         </div>
                      </div>
                    </div>
                    <hr>
                    
                    <h4>Info</h4>
                    <div class="form-group">
                      <label for="new_name" class="col-sm-2 control-label">*Name</label>
                      <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="new_name" id="new_name" required>
                            <div class="input-group-addon"><i class="glyphicon glyphicon-text-background"></i></div>
                         </div>
                      </div>
                    </div>                         

                    <div class="form-group">
                      <label for="new_desc" class="col-sm-2 control-label">*Description</label>
                      <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="new_desc" id="new_desc" required>
                            <div class="input-group-addon"><i class="glyphicon glyphicon-text-background"></i></div>
                         </div>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="new_active" class="col-sm-2 control-label">Active</label>
                      <div class="col-sm-10">                        
                            <input type="checkbox" class="form-control" name="new_active" id="new_active" checked>                                                     
                      </div>
                    </div>              
                    <hr>
                    
                    <h4>Security</h4>
                    <div class="form-group">
                      <label for="new_access_control" class="col-sm-2 control-label">*Access Control</label>
                      <div class="col-sm-10">
                        <div class="input-group">
                            <select class="form-control" id="new_access_control" name="new_access_control" required>
                                  <option selected>PUBLIC</option>
                                  <option>PRIVATE</option>                                  
                                </select>                              
                              <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                         </div>
                      </div>
                    </div>
                    
                      <div class="form-group">
                            <label for="new_auth_scheme" class="col-sm-2 control-label">Auth Scheme</label>
                            <div class="col-sm-10">
                              <div class="input-group">
                                <select class="form-control" id="new_auth_scheme" name="new_auth_scheme">
                                  <option></option>
                                  <?dbax
                                      FOR c1 IN (SELECT scheme_name FROM wdx_auth_schemes)
                                      LOOP
                                          IF '${app_auth_scheme}' = c1.scheme_name
                                          THEN
                                              p('<option selected>'|| c1.scheme_name ||'</option>');
                                          ELSE                                        
                                              p('<option>'|| c1.scheme_name ||'</option>');
                                          END IF;
                                      END LOOP;
                                  ?>
                                </select>
                              <div class="input-group-addon"><i class="fa fa-unlock-alt"></i></div>
                            </div>
                             </div>
                         </div>
                    <hr>
                    <h4>Application Template</h4>
                    <div class="form-group">
                      <label for="new_appid_template" class="col-sm-2 control-label">Appid Template</label>
                      <div class="col-sm-10">
                        <div class="input-group">
                            <select class="form-control" id="new_appid_template" name="new_appid_template">
                                  <option></option>
                                  <% for c1 in (select appid, name from table(tapi_wdx_applications.tt) where app_type = 'TEMPLATE' order by appid) loop %>
                                     <option value="<%=c1.appid %>"><%=c1.appid %>, <%=c1.name %></option>
                                  <% end loop; %>
                                </select>
                              <div class="input-group-addon"><i class="fa fa-bars"></i></div>
                         </div>
                      </div>
                    </div>
                    
                    <input type="hidden" name="new_app_type" value="${app_type}">
                   </form>
                </div><!-- /.box-body -->
                  
                <div class="box-footer">
                  <button id="appNewBtn" onclick="SubmitForm('appNewForm')" class="btn btn-info"><i class="fa fa-plus"></i> Create Application</button>
                  <div class="pull-right">
                    <a href="${base_path}/applications" class="btn btn-danger"><i class="fa fa-chevron-left"></i> Back</a>
                  </div>
                </div><!-- /.box-footer -->                
            </div> <!-- /.box -->              
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

   
    <?dbax dbax_core.include('footer'); ?>
    
    <!-- JqueryValidate -->
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js" type="text/javascript"></script>        
    <!-- SweetAlert 2 -->
    <script src="${resources_url}/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>        
    <!-- dbaxAdmin -->
    <script src="${resources_url}/plugins/dbaxadmin/dbaxadmin.js" type="text/javascript"></script>
    <!-- iCheck 1.0.1 -->
    <script src="${resources_url}/plugins/iCheck/icheck.min.js"></script>  


   <script type="text/javascript">          
        //Submit jQuery Ajax Form 
        function SubmitForm(formId){        
            dbaxSubmitForm(formId).done(function(data) {
                if (data.cod_error === undefined)
                    window.location.href = "${base_path}/applications/edit/"+$('#new_appid').val();
            });
        }       

     $('input').iCheck({
          checkboxClass: 'icheckbox_square',
          radioClass: 'iradio_square',          
     });  
     
    </script>   
 
     
  </body>
</HTML>