<?dbax dbax_core.g$var('page_head') := ' <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css"> 
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <!-- iCheck -->
    <link href="${resources_url}/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css" />
 <style>
    /* Mimic table appearance */
    div.table {
      display: table;
    }
    div.table .file-row {
      display: table-row;
    }
    div.table .file-row > div {
      display: table-cell;
      vertical-align: top;
      border-top: 1px solid #ddd;
      padding: 8px;
    }
    div.table .file-row:nth-child(odd) {
      background: #f9f9f9;
    }
    
    /* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
      opacity: 0;
      transition: opacity 0.3s linear;
    }

   /* Hide the delete button initially 
    #previews .file-row .delete {
      display: none;
    }*/

    /* Hide the start and cancel buttons and show the delete button */
    #previews .file-row.dz-success .start,
    #previews .file-row.dz-success .start-compile {
      display: none;
    }

    #previews .file-row.dz-success .delete {
      display: block;
    }

    /* On draggin file*/    
    .is-dragover {
      outline: 2px dashed black;
      outline-offset: -10px;
      opacity: 0.40;
    }

	.box-widget {
    	border: none;
    	position: relative;
	}
  </style>';  
?>!\n
<?dbax dbax_core.include('header'); ?>
<!-- SideBar -->
<?dbax dbax_core.include('sidebar');?>   
    
    <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
          <section class="content-header">
             <h1>
                Import Views
             </h1>          
          </section>
          
          <!-- Main content -->
          <section class="content">             
               <div class="box box-solid box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Upload Views Files</h3>
                </div><!-- /.box-header -->
                <div id="box-body" class="box-body">
                <p>The name of the view must have the following pattern <strong>"[APPID]_[ViewName].html"</strong>.</p>
                  <!--<div class="alert alert-info">-->
                  <div class="alert alert-info alert-dismissible">
        	        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>    	            
	                <i class="icon fa fa-info"></i> You can drag &amp; drop files here to upload.
                  </div>                  

				<div class="box box-widget">
                  <div class="box-header with-border">
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-success fileinput-button"><i class="fa fa-plus"></i> Add files...</button>   
                    	<button id="action-cancel" class="btn btn-danger"><i class="fa fa-trash"></i> Delete all files</button>
                 	</div>
                  </div>
                  
                  <div class="box-body">                  
                    <div class="table table-striped files" id="previews">                      
                      <div id="template" class="file-row">
                        <!-- This is used as the file preview template -->
                        <div>
                            <span class="preview"><img data-dz-thumbnail /></span>
                        </div>
                        <div>
                            <p class="name" data-dz-name></p>                      
                            <strong id="successMessage" class="text-primary" data-dz-successmessage></strong>                      
                            <strong id="errorMessage" class="text-danger" data-dz-errormessage></strong>                      
                        </div>
                        <div>
                            <p class="size" data-dz-size></p>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                              <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                            </div>
                        </div>
                        <div>
                          <button class="btn btn-primary btn-xs start ">
                              <i class="glyphicon glyphicon-upload"></i><span> Upload</span>
                          </button>
                          <button class="btn btn-warning btn-xs start-compile">
                              <i class="glyphicon glyphicon-upload"></i><span> Upload and compile</span>
                          </button>                          
                          <button data-dz-remove class="btn btn-danger btn-xs delete">
                              <i class="glyphicon glyphicon-trash"></i><span> Delete</span>
                          </button>                        
                        </div>
                        
                        </div>
                     </div>
                    </div> <!--box body -->
                  
                  <div class="box-footer">
                     <div class="btn-group" role="group" aria-label="...">
                      <button id="action-start" type="submit" class="btn btn-primary start"><i class="glyphicon glyphicon-upload"></i><span> Upload all</span></button>
                      <button id="action-start-compile" type="submit" class="btn btn-warning start"><i class="glyphicon glyphicon-upload"></i><span> Upload and compile all</span></button>
                     </div>
                  </div><!-- /.box-footer -->                
                </div><!--box-->
				
               </div><!-- /.box-body -->
                  
                <div class="box-footer">
                  <div class="pull-right">
                    <a href="${base_path}/applications" class="btn btn-danger"><i class="fa fa-chevron-left"></i> Back</a>
                  </div>
                </div><!-- /.box-footer -->                
            </div> <!-- /.box -->                                
            
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
   
    <?dbax dbax_core.include('footer'); ?>
   
  <script>
      // Get the template HTML and remove it from the doument
      var previewNode = document.querySelector("#template");
      previewNode.id = "";
      var previewTemplate = previewNode.parentNode.innerHTML;
      previewNode.parentNode.removeChild(previewNode);

      var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "${base_path}/upload", // Set the url
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 20,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.       
      });

      myDropzone.on("addedfile", function(file) {
        // Hookup the upload button                
        file.previewElement.querySelector(".start").onclick = function() { 
          myDropzone.options.url = '${base_path}/upload';
          myDropzone.enqueueFile(file); 
        };
        
        file.previewElement.querySelector(".start-compile").onclick = function() { 
          myDropzone.options.url = '${base_path}/upload?compile=true';
          myDropzone.enqueueFile(file); 
        };
      });

      myDropzone.on("sending", function(file) {
        // And disable the upload button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");        
        file.previewElement.querySelector(".start-compile").setAttribute("disabled", "disabled");
      });
      
      myDropzone.on("success", function(file, responseText) {
      	// Handle the responseText, add the text to the data-dz-message element:
        //file.previewElement.querySelector(".successMessage").innerHTML= responseText;        
        $(file.previewElement).find('[data-dz-successmessage]').html('✔ '+responseText);
      });
      
      myDropzone.on("error", function(file, errorMessage, xhr) {
      	// Handle the responseText, add the text to the data-dz-message element:
        //file.previewElement.querySelector(".successMessage").innerHTML= responseText;             
        $(file.previewElement).find('[data-dz-errormessage]').html('<pre><code><xmp>'+errorMessage+'</xmp></code></pre> The view has not been saved.');
      });    

      // Setup the buttons for all transfers
      // The "add files" button doesn't need to be setup because the config
      // `clickable` has already been specified.
      document.querySelector("#action-start").onclick = function() {
        myDropzone.options.url = '${base_path}/upload';
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
      };
      document.querySelector("#action-start-compile").onclick = function() {
        myDropzone.options.url = '${base_path}/upload?compile=true';
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
      };
      document.querySelector("#action-cancel").onclick = function() {
        myDropzone.removeAllFiles(true);
      };
    
    $('body').on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
        e.preventDefault();
        e.stopPropagation();
      })
      .on('dragover dragenter', function() {
        $('#box-body').addClass('is-dragover');
      })
      .on('dragleave dragend drop', function() {
        $('#box-body').removeClass('is-dragover');
      });    
    

   </script>        
        
  </body>
</HTML>