<?dbax dbax_core.include('header'); ?>

<?dbax  
    dbax_core.g$view('page_head') := '        
    <!-- SweetAlert 2-->     
    <link href="${resources_url}/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Dual Listbox -->
    <link href="${resources_url}/plugins/bootstrap-duallistbox/bootstrap-duallistbox.css" rel="stylesheet" type="text/css">
       
    ';
?>


<!-- SideBar -->
<?dbax dbax_core.include('sidebar');?> 

   
 <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <i class="fa fa-user-secret"></i> ${rolename}
            <small>Edit Role</small>
          </h1>
          <ol class="breadcrumb">
			 <li><a href="${base_path}/index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="${base_path}/applications"><i class="fa fa-rocket"></i> Applications</a></li>
            <li><a href="${base_path}/applications/edit/${current_app_id}"><i class="fa fa-cogs"></i> ${current_app_id} </a></li>
            <li><a href="${base_path}/applications/edit/${current_app_id}#Security"><i class="fa fa-user-secret"></i> Roles</a></li>            
            <li>${rolename}</li>
          </ol>          
        </section>

        <!-- Main content -->
        <section class="content">
          
		<!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#General" data-toggle="tab"><i class="fa fa-clone"></i> General</a></li>
              <li><a href="#Permissions" data-toggle="tab"><i class="fa fa-key"></i> Permissions</a></li>
              <li><a href="#Users" data-toggle="tab"><i class="fa fa-user"></i> Users</a></li>
            </ul>
            
            <div class="tab-content">
             
              <div class="tab-pane active" id="General">                
              <div class="box box-default box-solid">
                  <div class="box-header with-border">
                      <h3 class="box-title"><i class="fa fa-pencil"></i> Edit</h3>
                  </div><!-- /.box-header -->
                  <div class="box-body">                    

                        <!-- form start -->
                        <form name="rolesEditForm" id="rolesEditForm" action="${base_path}/applications/edit/${current_app_id}/roles/upsert" class="form-horizontal" method="POST">                        

                           <div class="form-group">
                              <label for="current_app_id" class="col-sm-2 control-label">Application ID</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="current_app_id" id="current_app_id" value="${current_app_id}" readonly="readonly">
                              </div>
                            </div>

                          <div class="form-group">
                              <label for="rolename" class="col-sm-2 control-label">Role Name</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="rolename" id="rolename" value="${rolename}" maxlength="255" readonly="readonly">
                              </div>
                          </div>                                                                      

                          <div class="form-group">
                              <label for="description" class="col-sm-2 control-label">Description</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="description" id="description" value="${description}" maxlength="4000" required>
                              </div>
                            </div>                        

                            <div class="form-group">
                              <label for="created_by" class="col-sm-2 control-label">Created By</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="created_by" id="created_by" value="${created_by}" readonly="readonly">
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="created_date" class="col-sm-2 control-label">Created Date</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="created_date" id="created_date" value="${created_date}" readonly="readonly">
                              </div>
                            </div>                          

                            <div class="form-group">
                              <label for="modified_by" class="col-sm-2 control-label">Modified Date</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="modified_by" id="modified_by" value="${modified_by}" readonly="readonly">
                              </div>
                            </div>                            

                            <div class="form-group">
                              <label for="modified_date" class="col-sm-2 control-label">Modified Date</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="modified_date" id="modified_date" value="${modified_date}" readonly="readonly">
                              </div>
                            </div>                          

                            <input type="hidden" name="row_id" value="${row_id}">
                            <input type="hidden" name="hash" id="hash" value="${hash}">

                        </form>
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button id="roleEditBtn" class="btn btn-info" onclick="SubmitForm('rolesEditForm')"><i class="fa fa-save"></i> Save</button>
                    <div class="pull-right">
                      <a href="${base_path}/applications/edit/${current_app_id}#Security" class="btn btn-danger"><i class="fa fa-chevron-left"></i> Back</a>
                    </div>
                  </div><!-- /.box-footer -->
              </div> <!-- /.box -->                
              </div><!-- /.tab-pane -->
              
              
              <div class="tab-pane" id="Permissions">
                <div class="box box-default box-solid">
                 <div class="box-header with-border">
                      <h3 class="box-title">Assign permissions to ${rolename}</h3> 
                  </div><!-- /.box-header -->
                  <div class="box-body">     
                    <!-- form start -->
                    <form name="rolesPermissionsForm" id="rolesPermissionsForm" action="${base_path}/applications/edit/${current_app_id}/roles/roles-pmsns" class="form-horizontal" method="POST">                		
                      	  <select name="roles_permissions[]" id="roles_permissions" multiple size="15" class="form-control">
                              <?dbax 
								FOR c1 IN (select * from table (tapi_wdx_permissions.pmsn_with_roles_tt( '${rolename}','${current_app_id}')))
								LOOP
                                   p( '<option value="' || c1.pmsname || '" selected="selected">' || c1.pmsname || '</option>');
                                END LOOP;

								FOR c1 IN (select * from table (tapi_wdx_permissions.pmsn_without_roles_tt( '${rolename}','${current_app_id}')))
								LOOP
                                   p( '<option value="' || c1.pmsname || '" >' || c1.pmsname || '</option>');
                                END LOOP;
                              ?>
                            </select>   
                   	     
                          <input type="hidden" name="rolename" id="hash" value="${rolename}">                       	  
                       </form>
                     </div><!-- /.box-body -->
					
                    <div class="box-footer">
                      <button id="rolePermissionsBtn" class="btn btn-info" onclick="SubmitForm('rolesPermissionsForm')"><i class="fa fa-save"></i> Save</button>
                      <div class="pull-right">
                        <a href="${base_path}/applications/edit/${current_app_id}#Security" class="btn btn-danger"><i class="fa fa-chevron-left"></i> Back</a>
                      </div>
                    </div><!-- /.box-footer -->
                </div> <!-- /.box -->                  
              </div><!-- /.tab-pane -->
            
 			  <div class="tab-pane" id="Users">
                <div class="box box-default box-solid">
                 <div class="box-header with-border">
                      <h3 class="box-title">Users with ${rolename} role assigned</h3>
                  </div><!-- /.box-header -->
                  <div class="box-body">     
                    <!-- form start -->
                    <form name="rolesUsersForm" id="rolesUsersForm" action="${base_path}/applications/edit/${current_app_id}/roles/roles-users" class="form-horizontal" method="POST">                		
                      	<select name="users_roles[]" id="users_roles" multiple size="15" class="form-control">
 								<?dbax
                                     FOR c1 IN (select * from table (tapi_wdx_users.users_with_roles_tt( '${rolename}','${current_app_id}')))
                                     LOOP                                                              
                                       p( '<option value="' || c1.username || '" selected="selected">'|| c1.username || ', '|| c1.first_name || ' '|| c1.last_name ||'</option>');
                                     END LOOP;
                                     FOR c1 IN (select * from table (tapi_wdx_users.users_without_roles_tt( '${rolename}','${current_app_id}')))
                                     LOOP                                                              
                                       p( '<option value="' || c1.username || '">'|| c1.username || ', '|| c1.first_name || ' '|| c1.last_name ||'</option>');
                                     END LOOP;
                                ?>             
                            </select>   
                   	     
                          <input type="hidden" name="rolename" id="hash" value="${rolename}">                       	  
                       </form>
                     </div><!-- /.box-body -->
					
                    <div class="box-footer">
                      <button id="rolePermissionsBtn" class="btn btn-info" onclick="SubmitForm('rolesUsersForm')"><i class="fa fa-save"></i> Save</button>
                      <div class="pull-right">
                        <a href="${base_path}/applications/edit/${current_app_id}#Security" class="btn btn-danger"><i class="fa fa-chevron-left"></i> Back</a>
                      </div>
                    </div><!-- /.box-footer -->
                </div> <!-- /.box -->  
                
              </div><!-- /.tab-pane -->            
            
            
            </div><!-- /.tab-content -->
          </div><!-- nav-tabs-custom -->
          
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

   
    <?dbax dbax_core.include('footer'); ?>
    
    <!-- SweetAlert 2 -->
    <script src="${resources_url}/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <!-- JqueryValidate -->
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js" type="text/javascript"></script>
    
    <!-- dbaxAdmin -->
    <script src="${resources_url}/plugins/dbaxadmin/dbaxadmin.js" type="text/javascript"></script>
	
	<!-- Bootstrap Dual Listbox -->    
	<script type="text/javascript" src="${resources_url}/plugins/bootstrap-duallistbox/jquery.bootstrap-duallistbox.js"></script>

    <script>        
        //Submit jQuery Ajax Form 
        function SubmitForm(formId){        
            dbaxSubmitForm(formId).done(function(data) {
                //If no error
              	// tal ta tal 
                if (data.cod_error === undefined){
                    //Update Values
                    $('#hash').val(data.hash)
                    $('#modified_by').val(data.modified_by)
                    $('#modified_date').val(data.modified_date)
                }
            });
        }
	 
     /*
     * Dual ListBox
     */
     $('select[name="roles_permissions[]"]').bootstrapDualListbox({
      nonSelectedListLabel: 'Permissions available',
      selectedListLabel: 'Permissions assigned',      
      moveOnSelect: false
    });
    var user_roles = $('select[name="users_roles[]"]').bootstrapDualListbox({
      nonSelectedListLabel: 'Users available',
      selectedListLabel: 'Users assigned',      
      moveOnSelect: false
    });
    //Selecting multiple element without using ctrl key
    $("select").mousedown(function(e){
        e.preventDefault();
        var scroll = this.scrollTop;
        e.target.selected = !e.target.selected;
        this.scrollTop = scroll;
        $(this).focus();
    }).mousemove(function(e){e.preventDefault()});
      
     </script> 
 
     
  </body>
</HTML>