<?dbax  
    dbax_core.g$var('page_head') := '        
    <!-- SweetAlert 2-->     
    <link href="${resources_url}/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" type="text/css" />        
    ';
?>

<?dbax dbax_core.include('header'); ?>

<!-- SideBar -->
<?dbax dbax_core.include('sidebar');?> 

   
 <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Edit Permission            
          </h1>
          <ol class="breadcrumb">
			 <li><a href="${base_path}/index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="${base_path}/applications"><i class="fa fa-rocket"></i> Applications</a></li>
            <li><a href="${base_path}/applications/edit/${current_app_id}"><i class="fa fa-cogs"></i> ${current_app_id} </a></li>
            <li><a href="${base_path}/applications/edit/${current_app_id}#Security"><i class="fa fa-key"></i> Permissions</a></li>            
            <li>${pmsname}</li>
          </ol> 
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-pencil"></i> Edit</h3>
                </div><!-- /.box-header -->
                <div class="box-body">                    
                    
                      <!-- form start -->
                      <form name="pmsnEditForm" id="pmsnEditForm" action="${base_path}/applications/edit/${current_app_id}/pmsn/upsert" class="form-horizontal" method="POST">                        
                        
                         <div class="form-group">
                            <label for="current_app_id" class="col-sm-2 control-label">Application ID</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="current_app_id" id="current_app_id" value="${current_app_id}" readonly="readonly">
                            </div>
                          </div>

                        <div class="form-group">
                            <label for="pmsname" class="col-sm-2 control-label">Permssion Name</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="pmsname" id="pmsname" value="${pmsname}" readonly="readonly">
                            </div>
                        </div>                                                                      
                          
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="description" id="description" value="${description}" maxlength="4000" required>
                            </div>
                          </div>                        
                          
                          <div class="form-group">
                            <label for="created_by" class="col-sm-2 control-label">Created By</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="created_by" id="created_by" value="${created_by}" readonly="readonly">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="created_date" class="col-sm-2 control-label">Created Date</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="created_date" id="created_date" value="${created_date}" readonly="readonly">
                            </div>
                          </div>                          
                          
                          <div class="form-group">
                            <label for="modified_by" class="col-sm-2 control-label">Modified Date</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="modified_by" id="modified_by" value="${modified_by}" readonly="readonly">
                            </div>
                          </div>                            

                          <div class="form-group">
                            <label for="modified_date" class="col-sm-2 control-label">Modified Date</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="modified_date" id="modified_date" value="${modified_date}" readonly="readonly">
                            </div>
                          </div>                          
                        
                          <input type="hidden" name="hash" id="hash" value="${hash}">
                      </form>
                </div><!-- /.box-body -->
                  
                <div class="box-footer">
                  <button id="pmsnSaveBtn" onclick="SubmitForm('pmsnEditForm')" class="btn btn-info"><i class="fa fa-save"></i> Save</button>
                  <div class="pull-right">
                    <a href="${base_path}/applications/edit/${current_app_id}#Security" class="btn btn-danger"><i class="fa fa-chevron-left"></i> Back</a>
                  </div>
                </div><!-- /.box-footer -->
                
            </div> <!-- /.box -->              


        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

   
    <?dbax dbax_core.include('footer'); ?>
    
    <!-- JqueryValidate -->
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js" type="text/javascript"></script>    
    
    <!-- SweetAlert 2 -->
    <script src="${resources_url}/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
        
    <!-- dbaxAdmin -->
    <script src="${resources_url}/plugins/dbaxadmin/dbaxadmin.js" type="text/javascript"></script>
  
    <script>        
        //Submit jQuery Ajax Form 
        function SubmitForm(formId){        
            dbaxSubmitForm(formId).done(function(data) {
                //If no error              	
                if (data.cod_error === undefined){
                    //Update Values
                    $('#hash').val(data.hash)
                    $('#modified_by').val(data.modified_by)
                    $('#modified_date').val(data.modified_date)
                }
            });
        }
    
     </script> 
 
     
  </body>
</HTML>