<?dbax dbax_core.include('header'); ?>

<!-- SideBar -->
<?dbax dbax_core.include('sidebar');?> 

   
 <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Title
            <small>Small Title</small>
          </h1>
          <?dbax dbax_core.include('breadcrumb');?>
        </section>
        
             
        
        <!-- Main content -->
        <section class="content">
          Hello World

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

   
    <?dbax dbax_core.include('footer'); ?>
      
    </body>
</HTML>